<li id="comment-<%= comment._id %>">
  
    <p>
            <% if((locals.user && locals.user.id == comment.user._id)|| post.user){ %>
                <small>
    <a class="delete-comment-button" href="/comments/destroy/<%= comment.id%>">X</a>
    </small>
  <% } %>
    
  
           
    <%= comment.content %><br>
   <%= comment.user.name%>
</p>

<!-- display the likes of this post,if user is logged in,then show the link to the toggle likes,else just show the count -->

<small>
  <% if (locals.user){%>
  <a class="toggle-like-button" id="comment-likes"data-likes="<%=comment.likes.length %>" href="likes/toggle/?id=<%= comment._id%>&type=Comment">
    <%=comment.likes.length %> Likes
  </a>
<%}else{%>
  <p id="likes"><%=comment.likes.length %> Likes</p>
  <% }%>


</small>

</li>