        <h1>Codeial | Home</h1>
        <section id="feed-posts">
                <h4>Posts</h4>
               <% if(locals.user){ %>
        <form action="/posts/create-post" method="POST" id="new-post-form ">
                <textarea name="content" rows="4" col="30" placeholder="Type here....."></textarea>
                <input type="submit" value="post">

        </form>
        <%} %>
        </section>

        <div id="post-list-container">
        <ul>
       <% for(post of postContent){%>

        <%- include('_post') -%>
        <!-- <li>
                <small>
                        <% if(locals.user && locals.user.id == post.user.id){ %>
                <a href="/posts/destroy/<%= post.id%>">X</a>
              <%}%>
                </small>
                <p><%= post.content %></p>
         <small>
               <p> <%= post.user.name %></p>
        </small>



       <div class="post-comments">
               <% if(locals.user){%>
                <form action="/comments/create"method="POST">
                        <input type="text" name="content" placeholder="type here for comment...">
                        <input type="hidden"name="post" value="<%= post._id%>">
                        <input type="submit" value="Add comment">
                </form>
        <%}%>
</div>
<div class="post-comments-list">
        <ul>
               <% for(comment of post.comments){%>
                <li>
                        <small>
                                <% if((locals.user && locals.user.id == comment.user._id)||post.user){ %>
                        <a href="/comments/destroy/<%= comment.id%>">X</a>
                      <%}%>
                        </small>
                      
                               
                                <p><%= comment.content %></p>
                       <p><%= comment.user.name%></p>

                </li>
                <%}%>
        </ul>
</div> -->

    
<%} %>
        </ul>
        </div>


                

