<!-- <html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>-->
        
       <link rel="stylesheet" href="/css/user_profile.css">
       
        
        <img id="userimage" src="<%= user.avatar %>" alt="<%=user.name%>" width="100">

        <%if(user.id==profile_user.id){%>
        <!-- here user.id is the id of user who cuttently sign-in   -->
        <!-- if user matches then show the form -->
            <form action="/users/update/<%=profile_user.id%>" method="post" enctype="multipart/form-data">
                <input type="text"name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
                <input type="email"name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>

                <input type="file" name="avatar" placeholder="profile picture">
                <button>Update</button>
            </form>
        <%}else{%>
        <!-- else only show the profile info -->

        <p class="user"><%=profile_user.name %></p>
        <p class="user"><%=profile_user.email %></p>
        <!-- <button>ADD FRIEND</button> -->
        <%}%>
        <small>
            <% if (locals.user){%>
            <button id="add-friend"><a class="toggle-like-button" href="/friends/toggle/?id=<%= profile_user.id%>">Add Friend</a></button>
                <%}%>
              
          
          
          </small>
        <!-- <%- include('_footer');%>
    </body>
</html> -->